@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'iconfont';
  src: url('/fonts/iconfont.woff2') format('woff2'),
       url('/fonts/iconfont.woff') format('woff'),
       url('/fonts/iconfont.ttf') format('truetype');
}

/*
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/c/font_4814576_3f3o451c3tx.woff2?t=1737229290739') format('woff2'),
       url('//at.alicdn.com/t/c/font_4814576_3f3o451c3tx.woff?t=1737229290739') format('woff'),
       url('//at.alicdn.com/t/c/font_4814576_3f3o451c3tx.ttf?t=1737229290739') format('truetype');
}
*/

:root {
  --background-color: #f5f5fa;
  --main-background-color: #fafafa;
  --card-background-color: #ffffff;
  --text-color: #272822;
  --link-color: #272822;
  --border-color: #d1d5db;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1f1f1f;
    --main-background-color: #272822;
    --card-background-color: #1e1e1e;
    --text-color: rgba(255, 255, 255, 0.9);
    --link-color: rgba(255, 255, 255, 0.9);
    --border-color: #3f3f46;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  margin: 0 auto;
  width: 100%;
  /* max-width: 80ch; */
  padding: 1rem;
  line-height: 1.5;
}

a {
  /* color: inherit; */
  color: var(--link-color);
  text-decoration: none;
}

.iconfont {
font-family:"iconfont" !important;
    font-size:24px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

/* Styling for Markdown content */
.markdown {
  max-width: 65ch;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.75;
}

@media screen and (min-width: 1024px) {
  .markdown {
    max-width: 72ch;
  }
}

@media screen and (min-width: 1440px) {
  .markdown {
    max-width: 80ch;
  }
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 1.6em;
  margin-bottom: 0.8em;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote,
.markdown pre {
  margin-bottom: 1.25em;
}

.markdown ul,
.markdown ol {
  padding-left: 2em;
}

.markdown blockquote {
  border-left: 4px solid var(--border-color);
  padding-left: 1em;
  color: inherit;
  background-color: var(--card-background-color);
}

.markdown pre,
.markdown code {
  background-color: var(--card-background-color);
  padding: 0.25em 0.5em;
  border-radius: 4px;
}
